:root{
 --main-left-margin: 60px;
 --main-font-color:  #AFBE8F;
 --bright-font-color: #dee392e6;
 --dark-font-color: #646F58;

 --main-forward-color: #7D8570;
 --bright-forward-color: #DDE392;
 --accentBright-forward-color: #AFBE8F;
 --accentDark-forward-color: #646F58;
 --dark-forward-color: #504B3A;
}



header{
  background-color: var(--dark-forward-color);
  color: var(--main-font-color);
  padding-bottom: 5px;
  padding-top: 5px;
}

body{
  background-color: var(--main-forward-color);
  margin: 20px;
}

main{
  color: var(--bright-font-color);
  background-color: var(--accentDark-forward-color);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: [row1-start] 450px [row1-end] auto;
  
  column-gap: 20px;
  row-gap: 20px;
}

main > *{
  margin-top:20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
  padding: 20px;
  border: var(--dark-forward-color) 2px inset;
  background-color: var(--accentDark-forward-color);
}

#laptop-information{
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

}

#loan{
  display: none;
}

#repayLoanBtn{
  display: none;
}

#payment{
  display: grid;
  align-items: center;
  text-align: center;
}


.mainSection{
  display: flex;
  flex-direction: column;

}

#laptop{
  margin-bottom: 20px;
  margin-top: 20px;
}

.flexBank{
  flex: 1;
  display: flex;
  gap:10px;
  flex-wrap: wrap;

}

.flexBank > *{
  flex-grow: 1;
}

#description{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridBank {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 1;

}



.workBtn{
  align-self: flex-end;
}


h1{
  margin-left: var(--main-left-margin);
}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

#picture{
  width: 200px;
  height: 150px;
}



/* Easter egg - for people that buy hacking good computers */

@keyframes rain {
  
  from{
    transform:translateY(-200px);

  }
  to{
    transform:translateY(1200px);
  }
}

@keyframes rain2 {
  
  from{
    transform:translateY(-200px);

  }
  to{
    transform:translateY(1600px);
  }
}

#matrix{
  font-size: 10px;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  column-gap: 20px;
  position:fixed;
  top: -100px;
}

#matrix2{
  font-size: 10px;
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  column-gap: 20px;
  position:fixed;
  top: -100px;
}

p.matrix:nth-child(5n){
  font-size: 20px;
  animation-name: rain;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  color: rgb(45, 247, 42);
  text-shadow: 1px 1px 10px rgb(45, 247, 42);;
}

p.matrix:nth-child(6n){
  font-size: 16px;
  animation-name: rain2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  color: rgb(45, 247, 42);
  text-shadow: 1px 1px 10px rgb(45, 247, 42);;

}

p.matrix:nth-child(2n){
  font-size: 16px;
  animation-name: rain2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  color: rgb(45, 247, 42);
  text-shadow: 1px 1px 10px rgb(45, 247, 42);;

}

p.matrix:nth-child(4n){
  font-size: 16px;
  animation-name: rain2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  color: rgb(45, 247, 42);
  text-shadow: 1px 1px 10px rgb(45, 247, 42);;

}